choose item, immediately get list of items associated with chosen item
each item has category and part number and list of items associated with it
display all chosen items in a list
list of associated items is viewable when clicking on any of the chosen items
exportable in excel
importable from excel
use http POST
